{% extends 'base.html' %}
{% load bootstrap4 %}
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    {% block body %}
    <!-- header-start -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>

                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{profile.user.username|title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                 <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="{{profile.user.company.logo.url}}" alt="">
                    </div>
                    <div class="p-6">
                            <a class="boxed-btn3 w-100" href="{% url 'register:profile_editor' profile.user.id %}">Edit <i class="bi bi-pencil-fill"></i></a>
                    </div>
                </div>
            </div>
                <div class="col-lg-8 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header">

                            <h3>General Info</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Name: <span>{{profile.user.username|title}}</span></li>
                                <li>About us: <span>{{profile.user.company.description|safe}}</span></li>
                                <li>Employee number: <span>{{profile.user.company.employee_num}}</span></li>
                                <li>Our Caregory: <span>{{profile.user.company.category}}</span></li>

                            </ul>
                        </div>

                    </div>

                    <div class="job_sumary">
                        <div class="summery_header">

                            <h3>Contact Info</h3>
                        </div>
                        <div class="job_content">
                            <ul>

                                <li>Phone: <span>{{profile.phone}}</span></li>
                                <li>Email: <span>{{profile.user.email}}</span></li>
                                <li>Location: <span>{{profile.city.name}}</span></li>

                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- footer start -->

</body>

</html>